.card-collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.contents{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
}
.header-content{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
@media only  screen  and (max-width:600px){
    .card-collections{
        grid-template-columns: 1fr;
    }
}